* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3e9aee;
  height: 4.6875rem;
  padding: 1rem;
}

.logo {
  width: 150px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.menu a {
  display: block;
  padding: 0.5rem;
  border-radius: 1rem;
}

.menu a:hover {
  background-color: #3ee7c7;
}

.label-menu,
.checkbox {
  display: none;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.atributos{
  margin-top: 40px;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 2px 2px 15px 2px rgb(241, 241, 241);
}

h1, h2{
  text-align: left;
  color: #3e9aee;
  padding-bottom: 20px;

}

.paragrafo-1{
  width: 100%;
  background-color: rgb(233, 233, 233);
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.paragrafo-1 p{
    text-align: justify;
    width: 60%;
}

main .opcao p{
  padding: 5px;
}

main .tipo{
  margin-top: 20px;
  padding: 20px;
}

main .quando{
  margin-top: 20px;
  padding: 20px;
}

.necessidade{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 20px;
  padding: 20px;
}

.especial{
  margin-top: 20px;
}

#op-especial{
  margin: 10px;
  width: 20px;
  height: 20px;
}

#postar-vaga{
  margin-top: 20px;
  padding: 10px;
  color: #ffffff;
  background-color: #3e9aee;
  border: transparent;
  border-radius: 15px;
  font-weight:600;
  font-size: 15px;
}

#postar-vaga:hover{
  background-color: #2c7fcc;
  cursor: pointer;
}

td, tr{
  padding: 5px;

}
