#fundo {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background: #3e9aee;
  padding: 16px;
}

.header-container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-imagem {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 35px;
}

.logo-texto {
  width: 160px;
  margin-left: 20px;
}

.menu-desktop {
  display: none;
}

@media screen and (min-width: 1000px) {
  .menu-desktop {
    display: flex;
  }
}

.menu-mobile {
  display: none;
  width: 100%;
  padding: 16px 0;
  background: #3e9aee;
}

@media screen and (min-width: 1000px) {
  .menu-mobile {
    display: none !important;
  }
}

.menu-mobile ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu-mobile li {
  display: flex;
  width: 100%;
}

.menu-mobile li a {
  display: flex;
  width: 100%;
  font-size: 18px;
  text-decoration: none;
  color: white;
  padding: 8px;
}

.menu-mobile li a:hover {
  background-color: #3ee7c7;
}

#icone-mobile {
  display: flex;
  background: transparent;
  color: white;
  border: none;
}

@media screen and (min-width: 1000px) {
  #icone-mobile {
    display: none;

  }
  .menu-mobile li a:hover {
    background-color: aquamarine;
}
}
@media screen and (max-width: 455px) {
    .copyright{
        font-size: 3.5vw;
    }
    .rodape-2 a {
        font-size: 3.5vw;
    }
    .menu-mobile li a {
        font-size: 3.5vw;
    }
}
.menu-desktop li {
  display: inline-block;
  margin: 0 10px;
}

.menu-desktop li a {
  font-size: 18px;
  text-decoration: none;
  color: white;
  padding: 8px 15px;
  border-radius: 15px;
}

.menu-desktop li a:hover {
  background-color: #3ee7c7;
}

.login-cadastro {
  display: inline-block;
}
.rodape {
  width: 100%;
  height: 90px;
  background-color: #3e9aee;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rodape-2 li {
  display: inline-block;
  margin: 20px 10px;
}

.rodape-2 li a {
  text-decoration: none;
  color: white;
}

.copyright {
  display: inline-block;
  margin: 15px 10px 0px 70px;
  text-align: center;
  color: white;
}

.show {
  display: flex;
}


/* -----------------------------------------------------------CABECALHO//RODAPE------------------------------------------------------------------------------------ */



.perfil{
  display: flex;
  width: 250px;
  height: 100px;
}

.perfil img {
  width: 35%;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
}

.id-1{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

}

.perfil h1{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 15px;


}
.perfil h2{
 font-size: 14px;
 opacity: 70%;
 margin-left: 15px;
 margin-bottom: 14px;
}
/* -----------------------------------------------------------Ana------------------------------------------------------------------------------------ */
.container-main{
  display: flex;
  width: 100%;
} 
.form{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 1050px;
  margin: 40px auto;
  border: 1px solid rgb(243, 242, 242);
  border-radius: 10px;
  box-shadow: 0px 10px 40px #00000056;

}
.form-edit{
width: 100%;
height: 20px;
display: flex;
justify-content: center;
margin-top: 70px;
}

.form-edit img {
  width: 2.5%;
  height: 100%;
  margin-top: 5px;

}
.text-edit{
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  width: 50%;
}
.text-edit input, select {
  padding: 9px;
  font-size: 16px;
  border: 1px solid rgb(148, 145, 145);
  border-radius: 3px;
  width: 100%;
}
 .text-edit label{
  font-size: 16px;
  color: #4f4f4f;
  margin: 5px;
  position: relative;
  bottom: 32px;
  pointer-events: none;
  left: 3px;
  letter-spacing: 0.5px;
}
.text-edit h3 {
  font-size: 16px;
  color: #4f4f4f;
  margin-top: 7px;
  margin-bottom: 5px;

}
.text-edit input:focus ~ label, .text-edit input:valid ~ label {
  font-size: 12px;
  bottom:48px;
  background-color: white;    
    transition: all 0.5s ease;
    color: #3e9aee;
}


.text-edit input:focus {
  outline: none;
  border:1px solid #3E95E4 !important;
  transition: all 1s ease-in;
}
  .text-edit select:focus ~ label, .text-edit select:valid ~ label {
    font-size: 12px;
    bottom:50px;
    background-color: white;    
      transition: all 0.5s ease;
      color: #3e9aee;
  }
  .text-edit select:focus,  .text-edit select:valid {
    outline: none;
    border:1px solid #3E95E4 !important;
    transition: all 1s ease-in;
  }




.form-radio{
  margin: 30px;
  margin-bottom: 15px;
  display: flex;;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}


.radio{
  width: 60%;
  font-size: 16px;
  font-weight: 550;
  display: flex;;
  flex-direction: column;
  margin-top: 40px;

}
.rain{
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin: 2px;
  margin-left: 28px;
}
.rain input{
  margin: 5px;
  justify-content: center;

}
.rain input[type="radio"]{
  transform: scale(1.2); 

}

.radio h1 {
  font-size: 18px;
  font-weight: bold;
  color: #3E95E4;
  margin-left: 27px;
  margin-bottom: 5px;
 
}
.hobbie{
  margin: 15px;
  margin-top: 90px;
  margin-bottom: 50px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 30px;
}

.hob-edit{
  width: 76%;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}

.add{
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add label{font-size: 18px;
  font-weight: bold;
  color: #3E95E4;
  margin-left: 35px;
  margin-bottom: 5px;}


.add img {
  width: 1.4vw;
  margin-bottom: 2px;
}
.add button {
  background-color: transparent !important;;
  border: none;
  position: relative;
  left: 90px; 
}

.hob-edit h3 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
  position: relative;
  right:40px;
}
/* .hobit{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  align-items: center;

} */

.save{
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: center;
 
}
.save button {
  width: 22%;
  height: 40px;
  margin: 10px;
  background-color: #3E95E4;
  color: white;
  border: hidden;
  letter-spacing: 0.5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}
.img-2{
  width: 10%;
}
.teste{
  margin-bottom: 5px;
}
.add-hob{
  display: flex;
  margin-top: 50px;
  margin-right: 180px;
  justify-content: flex-end;

}
.add-hob > button{
  background-color: transparent;
  border: none;
  position: relative;
  bottom: 20px;
  left: 0px;

}
.add-hob > button img {
 
  height: 100%;
  width: 35%;
}

/* ----------------------------------RESPONSIVE-------------------------------- */



@media screen and (min-width: 1200px) {

}
  @media screen and (max-width: 1200px) {



  
  .form{
    width: 70%;

  }
  .hob-edit{
      width: 80%;
  }
  .add img {
    width:  1.7vw;
  }
  .hobbie{
    margin-right: 80px !important;
  }
}
 
    @media screen and (max-width: 1000px) {
      .form{
        width: 80%;
    
      }
      
      
      .hob-edit{
          width: 85%;
      }
      .radio{
        width: 66%;
      }
      .form-edit img {
        width: 4%;
    }
    .add img {
      width:  2vw;
    }
    .add label{
      margin-left: 20px;
    }
    .hob-edit h3 {
      position: relative;
      right:45px;
    }
    }
    @media screen and (max-width: 850px) {
      .hob-edit{
          width: 100%;
      }
      .add label{
        margin-left: -25px;
      }
      .hob-edit h3 {
        position: relative;
        right: 75px;
      }
      .form-edit img {
        width: 2.7vw;
      }
      .add img {
        width:  2.8vw;
      }
      .add-hob{
        margin-right: 160px;
      
      }
    }
    @media screen and (max-width: 750px) {  
  
    .form{
      width: 90%;
      margin-top: 20px;

    }
    .hob-edit{
      width: 85%;
  }   
   .form-edit img {
    width: 4%;
}
.form-edit img {
  width: 3.4vw;
} .add label{
  margin-left: 60px;
}
.hob-edit h3 {
  position: relative;
  right:25px;
}
.add-hob{
  margin-right: 150px;

}
    }
    
@media screen and (max-width: 620px) {  

.form{
  width: 90%;

}
.hob-edit{
  width: 95%;
}   
 .form-edit img {
width: 4%;
}  
.add img {
  width:  3vw;
} 
  .add label{
  margin-left: 60px;
}
.hob-edit h3 {
  position: relative;
  right:30px;
}
.add-hob{
  margin-right: 120px;

}

}

@media screen and (max-width: 500px) {  
  .form{
    width: 100%;
    margin-left: 0px !important;
  
  }

  .hob-edit{
    width: 100%;
  }   
   .form-edit img {
  width: 5%;
  }  
  .add img {
    width:  3.5vw;
    
  }
  .text-edit input, select{
    width: 140%;
  }
  .form-edit{
    justify-content: flex-start;
    margin-left: 40px;

  }
  .form-radio{
    align-items: flex-start;
    margin-left: 17px;

  }
  .add{
    justify-content: flex-start;
    margin-left: -60px;

  }
  .hob-edit h3 {
    position: relative;
    right: 90px;
  }
  .add-hob{
    margin-right: 90px;
  
  }
  }

  @media screen and (max-width: 420px) {

    .add img {
      width:  4vw;
      margin-left: -60px;
      
    }
    .form-edit img {
      width: 5.5%;
  }
  .add label{
    margin-left: 60px;
  }
  .hob-edit h3 {
    right:65px;
  }
  .add-hob{
    margin-right: 60px;
  
  }

  }

  @media screen and (max-width: 375px) {

    .add img {
      width:  4.5vw;
      margin-left: -80px;
      
    }
    .form-edit img {
      width: 6%;
  }
  .radio{
    width: 80% !important;
  }
  .add label{
    margin-left: 3px;
  }
  
  .hob-edit h3 {
    position: relative;
    right: 50px;

  }
  .add{
    justify-content: flex-start;
    margin-left: 53px;
  }
  .add-hob{
    margin-right: 50px;
  
  }
}