/* Cabeçalho */
* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #3e9aee;
    padding: 16px;
}

.header-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-imagem {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 35px;
}

.logo-texto {
    width: 160px;
    margin-left: 20px;
}

.menu-desktop {
    display: none;
}

@media screen and (min-width: 1200px) {
    .menu-desktop {
        display: flex;
    }
}

.menu-mobile {
    display: none;
    width: 100%;
    padding: 16px 0;
    background: #3e9aee;
}

@media screen and (min-width: 1200px) {
    .menu-mobile {
        display: none !important;
    }
}

.menu-mobile ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu-mobile li {
    display: flex;
    width: 100%;
}

.menu-mobile li a {
    display: flex;
    width: 100%;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 8px;
}

.menu-mobile li a:hover {
    background-color: #3ee7c7;
}

#icone-mobile {
    display: flex;
    background: transparent;
    color: white;
    border: none;
}

@media screen and (min-width: 1200px) {
    #icone-mobile {
        display: none;
    }
}

.menu-desktop li {
    display: inline-block;
    margin: 0 10px;
}

.menu-desktop li a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    border-radius: 15px;
}

.menu-desktop li a:hover {
    background-color: #3ee7c7;
}

.login-cadastro {
    display: inline-block;
}

/* Conteudo princial */
.bloco{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 1150px;
    margin: 40px auto;
    border: 1px solid rgb(243, 242, 242);
    border-radius: 10px;
    box-shadow: 0px 10px 40px #00000056;
}

.beatriz{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}
.edicao h1 {
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
}

.edicao li a{
    text-decoration: none;
    color: white;
}
.edicao li{
    display:inline-flex;
    margin-left: 15px;
    margin-bottom: 30px ;
    color: white;
    background: #3e9aee;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
}

.perfil-edit li a {
    text-decoration: none;
    color: #3e9aee;
    font-size: 16px;
}
.perfil-edit li {
    display:inline-flex;
    margin: 15px 15px 5px 15px;
}
.edit-1 p{
    display: inline-flex;
    text-align: center;
}
.icons {
    margin: 5px 15px 5px 15px;
    color: #ffc000;
    font-size: 12px;
    font-weight: bold;
}
.contratacoes{
    display:inline-flex;
    margin: 5px 15px 5px 60px;
    font-size: 16px;
}

/* Rodapé */

.rodape {
    display: inline-block;
    width: 100%;
    margin-bottom: 100% #3e9aee ;
    margin-top: 100px;
    height: 130px;
    background-color: #3e9aee;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rodape-2 li {
    display: inline-block;
    margin: 0 10px;
}

.rodape-2 li a {
    text-decoration: none;
    color: white;
}

.copyright {
    display: inline-block;
    margin: 15px 60px;
    text-align: center;
    color: white;
}

.show {
    display: flex;
}