/* Cabeçalho */
* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #3e9aee;
    padding: 16px;
}

.header-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-imagem {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 35px;
}

.logo-texto {
    width: 160px;
    margin-left: 20px;
}

.menu-desktop {
    display: none;
}

@media screen and (min-width: 1200px) {
    .menu-desktop {
        display: flex;
    }
}

.menu-mobile {
    display: none;
    width: 100%;
    padding: 16px 0;
    background: #3e9aee;
}

@media screen and (min-width: 1200px) {
    .menu-mobile {
        display: none !important;
    }
}

.menu-mobile ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu-mobile li {
    display: flex;
    width: 100%;
}

.menu-mobile li a {
    display: flex;
    width: 100%;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 8px;
}

.menu-mobile li a:hover {
    background-color: #3ee7c7;
}

#icone-mobile {
    display: flex;
    background: transparent;
    color: white;
    border: none;
}

@media screen and (min-width: 1200px) {
    #icone-mobile {
        display: none;
    }
}

.menu-desktop li {
    display: inline-block;
    margin: 0 10px;
}

.menu-desktop li a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    border-radius: 15px;
}

.menu-desktop li a:hover {
    background-color: #3ee7c7;
}

.login-cadastro {
    display: inline-block;
}

/* Conteudo princial */




/* Rodapé */

.rodape {
    display: inline-block;
    width: 100%;
    margin-bottom: 100% #3e9aee ;
    margin-top: 100px;
    height: 130px;
    background-color: #3e9aee;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rodape-2 li {
    display: inline-block;
    margin: 0 10px;
}

.rodape-2 li a {
    text-decoration: none;
    color: white;
}

.copyright {
    display: inline-block;
    margin: 15px 60px;
    text-align: center;
    color: white;
}

.show {
    display: flex;
}