*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {

    text-decoration: none;
    color: white;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3E9AEE;
    height: 4.6875rem;
    padding: 1rem;
}

.logo{
    width: 150px;
}

.menu{
    list-style: none;
    display: flex;
    gap: 3rem;
}

.menu a{
    display: block;
    padding: 0.5rem;
    border-radius: 1.0rem;
}

.menu a:hover{
    background-color: #3EE7C7;
}

.label-menu, .checkbox{
    display: none;
}

@media (max-width: 800px){

        .menu{
            display: none;
            position: absolute;
            top: 4.6875rem;
            left: 0;
            background-color: #3E9AEE;
            width: 100%;
            padding: 10px;
        }

        .label-menu{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            color: white;
            padding-block: 1rem;
            cursor: pointer;
        }

        .hamburger{
            border-top: 0.125rem solid;
            width: 1.25rem;
        }

        .hamburger::before, .hamburger::after{
            content: " ";
            display: block;
            width: 1,.25rem;
            height: 0.125rem;
            background-color: currentColor;
            margin-top: 0.3125rem;
        }

        .checkbox:checked ~ .menu{
            display: block;
        }
}



.menssagem{
    display: flex;
    margin-top: 60px;
    border: 1px transparent solid;
    border-radius: 10px;
    width: 30%;
    box-shadow: 2px 5px 5px 1px rgb(241, 241, 241);
    cursor: pointer;
    margin-left: 30px;
    
}

.nome{
    font-weight: 600;
    padding: 10px 0px 5px 0px; 
    font-size: 18px;
}

.preview{
    padding: 0px 10px 10px 5px; 

}

.data{
    text-align: right;
    padding: 0px 10px 10px 10px; 
    font-size: 12px;
}

.hora{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    text-align: left;
    padding: 0px 10px 10px 10px; 
}

.foto{
    padding: 10px;
    border-radius: 40px;
    width: 70px;
    height: 70px;
    
}

h1{
    color: #3E9AEE;
    margin-top: 10px;
   
}

.paragrafo-1{
    background-color: #ECF0F4;
    width: 100%;
    margin: 0px;
    padding-left: 20px;
    padding-top: 10px;
    height: 180px;
}

@media (max-width: 1000px){
    .paragrafo-1{
        padding-top: 35%;
        height: 100%;
        padding-bottom: 10px;
    }

    .paragrafo-1 p{

        width: 90%;
        text-align: justify;
    }

}

.buscar{
    margin-top: 30px;
    margin-left: 30px;
    
}


.buscar p{
    margin-bottom: 5px;
}

.botao{
    background-color: #3E9AEE;
    color: white;
    border: none;
    border-radius: 15px;
    width: 70px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.botao:hover{
    background-color: #4fa5f5;
}

.caixa-busca{
    border-radius: 10px;
    height: 30px;
    width: 190px;
}

@media (max-width:800px){
    .menssagem{
        width: 80%;
    }

    footer{

    }
}

footer{
    margin-top: 217px;
    width: 100%;
    height: 100px;
    background-color: #3E9AEE;
    text-align: center;
}

footer li{

    display: inline-block;
    margin: 20px 10px 5px 10px;
    font-size: 12px;
}

footer p{
    display: inline;
    font-size: 10px;
    color: white; 
}

footer li a{
    text-decoration: none;
    padding: 5px 5px;
    color: white;
}