.rating {
  font-size: 0;
}

.rating span {
  font-size: 40px;
}

.rating span::before {
  content: "☆";
  color: rgba(0, 0, 0, 0.411);
}

.rating span.active::before {
  content: "★";
  color: orange;
}

.rating span:hover {
  cursor: pointer;
}
