



html, body {
    font-family: 'Inter', sans-serif !important;
    font-weight: 400 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 700 !important;
}