html,
body {
  font-family: "Roboto", sans-serif !important;
  font-weight: 400 !important;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif !important;
  font-weight: 700 !important;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.875rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1rem;
  }
}
color-profile {
  --mdb-primary: #4973f2 !important;
  --mdb-secondary: #14cc8e !important;
  --mdb-success: #14a44d !important;
  --mdb-danger: #fb4646 !important;
  --mdb-warning: #e4a11b !important;
  --mdb-info: #54b4d3 !important;
  --mdb-light: #fbfbfb !important;
  --mdb-dark: #332d2d !important;
}

.text-bright {
  color: rgba(255, 255, 255, 1) !important;
}

.text-primary {
  --mdb-text-opacity: 1;
  color: #4973f2 !important;
}
.text-secondary {
  --mdb-text-opacity: 1;
  color: rgba(var(--mdb-secondary-rgb), var(--mdb-text-opacity)) !important;
}
.text-success {
  --mdb-text-opacity: 1;
  color: rgba(var(--mdb-success-rgb), var(--mdb-text-opacity)) !important;
}
.text-danger {
  --mdb-text-opacity: 1;
  color: rgba(var(--mdb-danger-rgb), var(--mdb-text-opacity)) !important;
}
.text-warning {
  --mdb-text-opacity: 1;
  color: rgba(var(--mdb-warning-rgb), var(--mdb-text-opacity)) !important;
}
.text-info {
  --mdb-text-opacity: 1;
  color: rgba(var(--mdb-info-rgb), var(--mdb-text-opacity)) !important;
}
.text-light {
  --mdb-text-opacity: 1;
  color: rgba(var(--mdb-light-rgb), var(--mdb-text-opacity)) !important;
}
.text-dark {
  --mdb-text-opacity: 1;
  color: rgba(var(--mdb-dark-rgb), var(--mdb-text-opacity)) !important;
}
.text-black {
  --mdb-text-opacity: 1;
  color: rgba(var(--mdb-black-rgb), var(--mdb-text-opacity)) !important;
}
.text-white {
  --mdb-text-opacity: 1;
  color: rgba(var(--mdb-white-rgb), var(--mdb-text-opacity)) !important;
}
.text-body {
  --mdb-text-opacity: 1;
  color: rgba(var(--mdb-body-color-rgb), var(--mdb-text-opacity)) !important;
}
.text-muted {
  --mdb-text-opacity: 1;
  color: #757575 !important;
}

.text-justify {
  text-align: justify;
}

.bg-image {
  height: 800px;
}
.bg-primary {
  background-color: rgb(73, 115, 242, 1) !important;
}
.bg-secondary {
  background-color: rgba(62, 231, 199, var(--mdb-bg-opacity)) !important;
}
.bg-light {
  background-color: #ecf0f4 !important;
}

.border-light {
  border-color: #ffffff !important;
}

.btn {
  letter-spacing: 0.05rem !important;
}
.btn-danger {
  background-color: #f40009 !important;
  color: #fff !important;
  color: rgba(255, 255, 255, 1);
  border: 0;
  box-shadow: 0 4px 9px -4px #f40009 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  background-color: #f40009 !important;
  color: #fff !important;
  color: rgba(255, 255, 255, 1);
  border: 0;
  box-shadow: 0 8px 9px -4px rgba(220, 76, 100, 0.3) 0 4px 18px 0 rgba(220, 76, 100, 0.2) !important;
}
.btn-primary {
  background-color: #4973f2 !important;
  color: #fff !important;
  color: rgba(255, 255, 255, 1);
  border: 0;
  box-shadow: 0 4px 9px -4px #14cc8f79 !important;
}
.btn-secondary {
  background-color: #14cc8e !important;
  color: #fff !important;
  color: rgba(255, 255, 255, 1);
  border: 0;
  box-shadow: 0 4px 9px -4px #14cc8f79 !important;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  background-color: #14cc8e;
  color: #fff;
  box-shadow: 0 8px 9px -4px #39d6a2, 0 4px 18px 0 #39d6a2;
}
/***************************************************
hamburger menu
****************************************************/
.navbar-dark .navbar-brand {
  color: #4973f2 !important;
}
.navbar {
  background: rgb(73, 115, 242, 0.95);
  transition: all 0.6s;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  margin: none;
}
.navbar-dark .navbar-nav {
  color: #ffffff;
  color: rgba(255, 255, 255, 1);
  border: 0;
  text-transform: none;
}

.nav-link {
  align-items: center !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;

  border: 0;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #14cc8e;
}

.navbar-dark .navbar-nav .nav-link:focus {
  color: #ffffff;
  outline: 0;
}

.navbar-dark .navbar-toggler {
  border-color: #ffffff;
}

.navbar-dark .navbar-toggler:focus {
  background: none;
  outline: 0;
}

.navbar-dark .navbar-toggler span {
  display: block;
  width: 30px;
  height: 2px;
  margin: auto;
  background: #ffffff;
  transition: all 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navbar-dark .navbar-toggler:hover span,
.navbar-dark .navbar-toggler:focus span {
  background: #ffffff;
}

/* rotate first span */
.navbar-dark .navbar-toggler[aria-expanded="true"] span:first-of-type {
  transform: rotate(45deg) translate(6px, 6px);
}

/* hide second span */
.navbar-dark .navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
  opacity: 0;
}

/* rotate third span */
.navbar-dark .navbar-toggler[aria-expanded="true"] span:last-of-type {
  transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-dark .navbar-toggler[aria-expanded="false"] span {
  transform: none;
  opacity: 1;
}

.navbar-brand {
  width: 162px;
  height: 44px;
  background: left center no-repeat;
  border: 0;
  text-indent: -99999px;
  color: #ffffff;
}

.navbar-dark .navbar-toggler span {
  display: block;
  width: 30px;
  height: 2px;
  margin: 6px auto;
  background: #ffffff;
  transition: all 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}

/* rotate first span */
.navbar-dark .navbar-toggler[aria-expanded="true"] span:first-of-type {
  transform: rotate(45deg) translate(6px, 6px);
}

/* hide second span */
.navbar-dark .navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
  opacity: 0;
}

/* rotate third span */
.navbar-dark .navbar-toggler[aria-expanded="true"] span:last-of-type {
  transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-dark .navbar-toggler[aria-expanded="false"] span {
  transform: none;
  opacity: 1;
}
/*************************************************************
* UTILITITES
*************************************************************/

.nav-link-bright {
  color: rgba(255, 255, 255, 1) !important;
}

.nav-link-bright:hover,
.nav-link-bright:focus {
  color: #14cc8e !important;
}

/***************************************************
navbar drop down menu-emergencias
****************************************************/

.dropdown-toggle:after {
  display: none !important;
}

.dropdown-menu:before {
  position: absolute !important;
  top: -7px !important;
  left: 84% !important;
  display: inline-flex !important;
  border-right: 7px solid transparent !important;
  border-bottom: 7px solid #ccc !important;
  border-left: 7px solid transparent !important;
  border-bottom-color: rgba(0, 0, 0, 0.2) !important;
  content: "" !important;
}

.dropdown-menu:after {
  position: absolute !important;
  top: -6px !important;
  left: 84% !important;
  display: inline-flex !important;
  border-right: 6px solid transparent !important;
  border-bottom: 6px solid #ffffff !important;
  border-left: 6px solid transparent !important;
  content: "" !important;
}

/*************************************************************
* HERO
*************************************************************/
.cmi-hero {
  position: relative;
  padding: 120px 0;
  background-image: url("/src/img/banner-main.jpg");
  background-size: cover;
  background-position: -20%;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.cmi-hero:before {
  content: " ";
  background-image: url("/src/img/banner-main.jpg");
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    180deg,
    rgb(73, 115, 242, 0.95),
    rgb(20, 204, 142, 0.6) 60%
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    180deg,
    rgb(73, 115, 242, 0.95),
    rgb(20, 204, 142, 0.6) 60%
  );
}

.cmi-hero > div {
  position: relative;
  z-index: 10;
}
/*************************************************************
* HERO
*************************************************************/
.cmi-hero-search {
  width: 400px;
}

.cmi-hero-search > div {
  position: relative;
}

.cmi-hero-search ul li.active {
  border-bottom: 2px solid #fff;
}

.cmi-hero-search .form-control {
  border-radius: 25px !important;
  height: 50px;
  font-size: 80%;
}

.cmi-hero-search > div > button {
  position: absolute;
  right: 8px;
  top: 6px;
  line-height: 0.6;
}

/*************************************************************
*Como funciona
*************************************************************/

main .container {
  max-width: 980px !important;
}

main .container > div {
  flex: 1 1 100% !important;
}

main .container-carousel {
  max-width: 1180px !important;
  padding-left: 100px;
  padding-right: 100px;
}

.cmi-home-banner.banner-top {
  background-color: rgb(221, 248, 255);
}

.cmi-home-banner.banner-bottom {
  background-color: rgb(231, 255, 251);
}

.cmi-home-banner h2:after {
  content: " ";
  display: block;
  height: 5px;
  background-color: #fff;
  max-width: 350px;
  margin: 10px auto auto auto;
}

.cmi-home-banner p {
  font-size: 1.2rem;
}

.cmi-how-it-works > div:first-child,
.cmi-how-it-works > div:last-child {
  padding-top: 50px;
  flex: 1 1 50%;
}

.cmi-how-it-works-track {
  color: #c9c9c9;
  font-size: 5rem;
  width: 100px;
}

.cmi-how-it-works-track strong {
  font-size: 5rem;
}

.cmi-how-it-works-track > span {
  display: block;
  width: 16px;
  height: 16px;
  background-color: #e7e7e7;
  margin-bottom: 0.6rem;
  border-radius: 50%;
}

/*************************************************************
*Carousel
*************************************************************/
.profileReview {
  font-size: 30px;
  color: rgb(255, 217, 0);
}

.profileReview span {
  font-size: 40px;
}

.profileReview span::before {
  content: "☆";
  color: rgba(0, 0, 0, 0.329);
}

.profileReview span.active::before {
  content: "★";
  color: rgb(255, 217, 0);
}

.profileReview span:hover {
  cursor: pointer;
}
/**********************************************************
*Vagas
***********************************************************/
.footer-link {
  color: #ffffff !important;
}
.footer-link:hover {
  color: #14cc8e !important;
}
/*********************************************************
*forms
**********************************************************/
.form-outline .form-control.form-control-lg {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.was-validated .form-control:invalid,
.form-control.is-invalid {
  margin-bottom: 0.35rem;
  background-image: none;
  border-color: #dc4c64;
}
